<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data Analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>Data Visualization Using Dashboard</h1>
                <p>Use the interactive charts below to explore the dataset</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="well">
                    <h5>Select State:</h5>
                    <select id="selStateDataset" onchange="stateChanged(this.value)"></select>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <center>State <br>Demographic info</center>
                        </h3>
                    </div>
                    <div id="sample-statedata" class="panel-body"></div>
                </div>
                <div class="well">
                    <h5>Select County:</h5>
                    <select id="selCountyDataset" onchange="countyChanged(this.value)"></select>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <center>County <br>Demographic info</center>
                        </h3>
                    </div>
                    <div id="sample-countydata" class="panel-body"></div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <div id="donut"></div>
                        <canvas id="doughnut-chart" width="1000" height="1000"></canvas>
                    </div>
                    <div class="col-md-6">
                        <div id="line"></div>
                        <canvas id="line-chart" width="1000" height="1000"></canvas>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="bar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myDiv"></div>

</body>

</html>